* {
  box-sizing: border-box;
}

.App {
  padding: 1rem 3rem;
}

button {
  margin: 1rem;
  margin-left: 0;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}

.delete {
  margin: 0;
  background-color: red;
}

td {
  min-width: 10rem;
}

.input td {
  min-width: 5rem;
}
